<app-create-stock-modal></app-create-stock-modal>

<app-header></app-header>
<div class="flex-1 m-4">
  <h1 class="text-2xl md:text-4xl font-bold">Stocks</h1>

  <div class="flex justify-end">
    <button
      class="bg-black text-white h-[40px] px-4 cursor-pointer rounded-sm"
      (click)="openModal()"
      disabled="stocks.length == 3"
    >
      Add Stock
    </button>
  </div>

  @if(isLoading) {
  <app-loader></app-loader>
  } @else if(stocks.length < 1) {
  <p>No stocks yet</p>
  } @else if(stocks.length > 0) {

  <div class="w-full justify-between lg:flex overflow-x-auto mt-4">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="portfolioAllocation"
      [gradient]="gradient"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>

    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="annualDividendIncomeData"
      [gradient]="gradient"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="showLegend"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)"
    >
    </ngx-charts-bar-vertical>
  </div>

  <!-- TOP SECTION -->
  <div class="flex flex-col md:flex-row md:justify-between gap-4">
    <div class="flex items-end gap-2">
      <h1 class="text-2xl font-bold">{{ total.toFixed(2) | currency }}</h1>
      <span
        [ngClass]="gain > 0 ? 'bg-green-500' : 'bg-red-500'"
        class="text-xs rounded-sm px-1 text-white font-bold"
        >{{ gain.toFixed(2) | currency }}</span
      >
    </div>
  </div>

  <!-- Summary -->
  <div
    class="border-1 border-gray-200 rounded-lg px-4 md:grid md:grid-cols-2 gap-4 mt-4"
  >
    <app-stock-card
      title="Portfolio yield"
      value="{{ calculateSummaryValues().toFixed(2) }}%"
      imgaeUrl="assets/icon-wallet.png"
    ></app-stock-card>

    <app-stock-card
      title="Annual Income"
      value="${{ annualIncome.toFixed(2) }}"
      imgaeUrl="assets/icon-wallet.png"
    ></app-stock-card>
  </div>

  <!-- SUMMARY TABLE -->

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Ticker</th>
          <th scope="col" class="px-6 py-3">Shares</th>
          <th scope="col" class="px-6 py-3">Price</th>
          <th scope="col" class="px-6 py-3">Average Cost</th>
          <th scope="col" class="px-6 py-3">Profit/Loss</th>
          <th scope="col" class="px-6 py-3">Dividend Yield</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(stock of stocks; track stock.id) {
        <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ stock.name }}
          </th>
          <td class="px-6 py-4">{{ stock.shares }}</td>
          <td class="px-6 py-4">{{ stock.currentPrice }}</td>
          <td class="px-6 py-4">{{ stock.purchasePrice }}</td>
          <td
            [ngClass]="
              getProfitLossPercentage(stock) >= 0
                ? 'text-green-500'
                : 'text-red-500'
            "
          >
            {{ getProfitLossPercentage(stock).toFixed(2) }}%
          </td>
          <td class="px-6 py-4">{{ stock.dividendYield.toFixed(2) }}</td>
          <td class="px-6 py-4">
            <button
              href="#"
              class="h-6 w-6 ml-2 cursor-pointer"
              (click)="deleteStock(stock.id)"
            >
              <img src="assets/icon-trash.png" alt="delete" />
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
