<app-header></app-header>
<div class="flex home">
  <app-sidebar></app-sidebar>

  <div class="flex-1 m-4">
    <!-- CARD ROW -->
    <div class="grid grid-cols-2 gap-2">
      <div class="bg-rose-300 rounded-lg p-2">
        <img src="/assets/icon-wallet.png" alt="savings" />
        <p class="font-semibold">Savings</p>
        <p class="font-bold">R123,456</p>
      </div>
      <div class="bg-green-600">
        <img src="/assets/icon-wallet.png" alt="savings" />
        <p>Savings</p>
        <p>R123,456</p>
      </div>
    </div>
  </div>
</div>
