<div
  class="flex flex-col justify-center md:items-center mx-4 bg-gray-100 h-full"
>
  <div class="flex justify-center mb-4">
    <img class="w-[200px]" src="assets/logoipsum-342.svg" alt="logo" />
  </div>
  <div class="flex flex-col gap-4 p-4 bg-white rounded-2xl md:min-w-[500px]">
    <h2 class="text-xl font-semibold text-center mb-4">Reset Password</h2>
    @if(!isSuccess) {
    <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <div class="flex flex-col">
        <label for="email">Email</label>
        <input
          class="h-[48px] border-2 border-gray-300 rounded-md p-2 mt-1"
          [(ngModel)]="email"
          type="email"
          name="email"
          placeholder="Email"
          disabled
        />
      </div>
      <div class="flex flex-col">
        <label for="newPassword">New Password</label>
        <input
          class="h-[48px] border-2 border-gray-300 rounded-md p-2 mt-1"
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          minlength="6"
        />
      </div>
      <button
        class="bg-black h-[46px] text-white rounded-md cursor-pointer"
        type="submit"
        [disabled]="!newPassword || newPassword.length < 6 || loading"
      >
        @if(loading) {
        <app-spinner></app-spinner>
        } @else { Reset Password }
      </button>
    </form>
    } @if(isSuccess) {
    <div class="flex justify-center">
      <p>
        Password reset successfully!
        <a class="underline text-green-500 text-xl" routerLink="/login"
          >Log in</a
        >
      </p>
    </div>
    }
  </div>
</div>
