<div
  class="bg-black/50 absolute z-40 inset-0 transition-opacity duration-300 ease-in-out"
  [ngClass]="{ 'opacity-100 visible': isOpen, 'opacity-0 invisible': !isOpen }"
  (click)="closeSidebar()"
>
  <aside
    class="w-[75%] bg-white h-full flex md:hidden flex-col transition-transform duration-300 ease-in-out"
    [ngClass]="{ 'translate-x-0': isOpen, '-translate-x-full': !isOpen }"
    (click)="$event.stopPropagation()"
  >
    <div class="px-4 mt-8">
      <img src="assets/logoipsum-342.svg" alt="logo" class="w-[150px]" />
    </div>

    <ul class="flex flex-col gap-3 px-4 mt-8">
      @for(menu of navItems; track menu.id) {
      <li>
        <a
          class="flex items-center gap-2 h-[46px] px-2 rounded-lg hover:bg-gray-100 transition-all duration-300"
          [routerLink]="[menu.url]"
          routerLinkActive="bg-gray-200"
        >
          <img
            class="w-6 h-6"
            src="{{ menu.imageUel }}"
            alt="{{ menu.title }}"
          />
          <p class="'font-semibold text-gray-600'">
            {{ menu.title }}
          </p>
        </a>
      </li>
      }
    </ul>

    <button
      class="cursor-pointer bg-red-600/70 text-white font-semibold h-[40px] mt-auto"
      (click)="logout()"
    >
      Logout
    </button>
  </aside>
</div>
