<div class="bg-white p-4 rounded-2xl flex items-center gap-4">
  <p class="font-semibold">{{ goal.name.substring(0, 1) }}</p>

  <div class="flex flex-col gap-1 w-full">
    <div class="flex justify-between items-center">
      <p>{{ goal.name }}</p>

      <p>R{{ goal.targetAmount }}</p>
    </div>

    <!-- <progress
      class="w-full"
      id="temp"
      value="{{ calculatePercentage() }}"
      max="100"
    >
      {{ calculatePercentage() }}%
    </progress> -->
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>

    <div class="flex justify-between">
      <p>R{{ goal.currentAmount }}</p>

      <p>R{{ goal.targetAmount - goal.currentAmount }}</p>
    </div>
  </div>
</div>
