<header
  class="flex justify-between items-center h-[80px] shadow-md bg-white px-4"
>
  <div class="px-4">
    <img
      class="w-[150px] md:w-[200px] lg:w-[250px]"
      src="assets/logoipsum-342.svg"
      alt="logo"
    />
  </div>

  <nav class="hidden md:block">
    <ul class="flex gap-4">
      @for(menu of navItems; track menu.id) {
      <li>
        <a
          class="flex items-center gap-2 h-[46px] px-2 rounded-lg hover:bg-gray-100 transition-all duration-300"
          [routerLink]="[menu.url]"
          routerLinkActive="bg-gray-200"
        >
          <img
            class="w-6 h-6"
            src="{{ menu.imageUel }}"
            alt="{{ menu.title }}"
          />
          <p>
            {{ menu.title }}
          </p>
        </a>
      </li>
      }
    </ul>
  </nav>

  <div>
    <button class="cursor-pointer hidden md:block" (click)="logout()">
      <img class="w-10 h-10" src="assets/icon-logout.png" alt="logout" />
    </button>

    <button class="cursor-pointer md:hidden" (click)="toggleSidebar()">
      <img class="w-10 h-10" src="assets/icon-menu.png" alt="logout" />
    </button>
  </div>
</header>

<app-sidebar [isOpen]="isOpen" (isOpenChange)="isOpen = $event"></app-sidebar>
