<div
  class="rounded-lg border-2 border-gray-300 h-[170px] flex flex-col justify-between p-4"
>
  <p class="text-sm font-bold">{{ title }}</p>

  <div>
    <p class="text-2xl font-bold">{{ income | currency }}</p>

    <p class="text-gray-500 text-sm">{{ subTitle }}</p>
  </div>

  <div class="flex gap-2">
    <button
      class="bg-green-400 px-2 py-1 text-white cursor-pointer"
      (click)="openExpenseModal()"
    >
      <img src="assets/icon-plus.png" alt="edit" />
    </button>
    <button
      class="bg-yellow-400 px-2 py-1 text-white cursor-pointer"
      (click)="openBudgetCategoryModal()"
    >
      <img src="assets/icon-edit.png" alt="edit" />
    </button>
    <button
      class="bg-red-600 px-2 py-1 text-white cursor-pointer"
      (click)="deleteBudgetCategory()"
    >
      <img src="assets/icon-trash.png" alt="delete" />
    </button>
  </div>
</div>
<app-create-expense-modal id="{{ id }}"></app-create-expense-modal>
<app-edit-budget-category-modal></app-edit-budget-category-modal>
